@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Montserrat:wght@100;300;800;900&family=Overpass:ital,wght@0,300;1,600&family=Ubuntu:wght@400;700&display=swap');


:root{
    --darkcyan: hsl(185, 75%, 39%);
    --verydarkdesturatedblue: hsl(229, 23% 23%);
    --darkgraylishblue: hsl(0, 10%, 46%);
    --darkgray: hsl(0, 0%, 59%);
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--darkcyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat ;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh; 
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
}

.cardcontainer{
   
    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bubbles{
    background: url(images/bg-pattern-card.svg);
    height: 140px;
}

.photo{
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}

.personaldatos{
    background-color: white;
    height: 150px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
}

.name{
    font-weight: 700;
    color: var(--verydarkdesturatedblue);
}

.age .city{
    color: var(--darkgray);
}

.city{
    margin-top: 10px;
    font-size: 0.8em;
}

.statscontanier{
    background-color: white;
    border-top: 1px solid var(--darkgray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.statistics{
    text-align: center;

}

.quantity{
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--verydarkdesturatedblue);
}

.units{
    font-weight: 0.6em;
    color: var(--darkgray);
    letter-spacing: 2px;
}

@media screen and (min-width: 1440px) {
    .cardcontainer{
        width: 350px;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  