@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=League+Spartan:wght@400;500;700&family=Montserrat:wght@100;300;800;900&family=Overpass:ital,wght@0,300;1,600&display=swap');

body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Light_Gray);
    font-size: 16px;
}

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
    --light_cyan: hsl(179, 62%, 52%);

}

/* ---mobile---*/
.manin_container{
    background-color: white;
    width: 313px;
    height: 730px;
    margin: 70px auto 70px;
    border-radius: 8px;
    overflow: hidden;
}

/* ---our community--- */
.our_community{
    padding: 8px 24px 24px 24px;
    height: 270px;
    box-sizing: content-box;
}
.our_community h2.title{
    font-size: 1.2em;
    color: var(--Cyan);
}
.our_community h2.promo{
    color: var(--Bright_Yellow);
    font-size: 1em;
    margin: 25px 0 10px 0;
}
.our_community p{
    color: var(--Grayish_Blue);
    font-size: 0.86em;
    line-height: 27px;
    margin-top: 16px;
}

/* ---monthly subscription--- */
.monthly_subscription{
    background-color: var(--Cyan);
    padding: 12px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
}
.monthly_subscription h2{
    font-size: 2em;
    font-weight: 700;
}
.monthly_subscription p{
    margin-top: 8px;
}
button{
    margin-top: 14px;
    background-color: var(--Bright_Yellow);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: var(--Light_Gray);
    font-size: 16px;
    font-weight: 700;
}

/* ---why us--- */
.why_us{
    background-color: var(--light_cyan);
    padding: 8px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
}
.why_us h2{
    font-size: 18px;
}
li{
    list-style: none;
    margin-left: -40px;
    font-size: 0.85em;
    line-height: 20px;
    font-weight: 300;
    
}

/* ---desktop--- */
@media only screen and (min-width: 680px) {
    .manin_container{
        width: 636px;
        height: 476px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 160px auto 100px;
    }
    .our_community{
        grid-column: 1 / 3;
        padding: 20px 35px 35px 35px;
        height: 218px;
    }
    .our_community p{
        font-size: 1em;
        line-height: 27px;
        margin-top: 8px;
    }

    .monthly_subscription{
        padding: 20px 40px 40px 40px ;
        height: 258px;
    }
    .monthly_subscription h2{
        
    }

}


/* ---footer--- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }